@model String 

@{
    ViewData["Title"] = "Demo";
}

<div class="text-center">
    <h1 class="display-4">Demo Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <ul>
        <li>This is model: @Model</li>
    </ul>
</div>